.resume_link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume h2 {
    margin: 10px 0;
    padding: 20px 0;
    border-bottom: 2px solid white;
    color: rgba(255, 255, 255, 0.8);
    font: var(--f-montserrat);
    font-style: italic;
    font-size: 3em;
}

.subsection {
    color: white;
    margin: 20px 0;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
}

.subsection_heading {
    margin-bottom: 26px;
}

.subsection_heading p {
    display: inline-block;
    font-size: 1.4rem;
    margin: 0;
}

.subsection_heading .date {
    float: right;
    font-size: 1.2rem;
    font-style: italic;
}

.skill_header {
    text-align: right;
}

.res_info{
    margin: 20px;
}

.divider {
    background-color: white;
}

.skill_cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}