:root{
  /* COLOR SCHEME */
  --cs-dark-blue: #00126F;
  --cs-blue: #094FB8;
  --cs-light-blue: #2DA7FF;
  --cs-perriwinkle: #609FFD;
  --cs-black: #222121; 

  /* FONTS */
  --f-arvo: 'Arvo', serif;
  --f-montserrat: 'Montserrat', sans-serif;
  --f-ubuntu: 'Ubuntu', sans-serif;
}

html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background: linear-gradient(180deg, #2DA7FF 0%, #00126F 100%);
  background-attachment: fixed;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
